
<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="image_wrapper">
        <img class="user_photo" [src]="profile[0].user_photo" alt="">
      </div>
    </div>
    <div class="col-6">
      <div class="namewrapper">
        <h3 class="first_name">{{profile[0].first_name}}</h3>&nbsp;&nbsp;
        <h3 class="last_name">{{profile[0].last_name}}</h3>
      </div>
      <div class="description">
        <p>{{profile[0].description}}</p>
      </div>
    </div>
  </div>
</div>

<div></div>
